*{
  margin: 0;
  padding: 0;
}

body{
    background-color: grey;
  }
  
  .banner {
    background-image: url(assets/img/banner-image.jpg);
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 100%;
    background-attachment: fixed, fixed, fixed; 
  }

  header {
    width: 100%;
    height: 100px;
    background-color: green;

  }

  nav {
    line-height: 100px;
  } 

  .navbar a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 4px;
    color: white;

    padding: 36px 20px;
    margin: 0 1px;

    background-color: aqua;
  }

  .navbar a:hover {
    background-color: white;
    color: black;
  }
  
  .navbar a.active {
    background-color: black;
    color: white;
  } 

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;

  }
  
  .sticky + .section {
    padding-top: 102px;
  }
