*{
  margin: 0;
  padding: 0;
}

body, html{
    background-color: #1f1f1f;
    font-family: "Segoe UI", sans-serif;
    
  }
  
  .banner-box {
    height: 520px;
    width: 100%;
  }

  .banner {
    background-image: url(assets/img/nocolor.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
  }

   .banner2 {
    opacity: 0;
    transition: 1.5s ease;

    background-image: url(assets/img/color.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
  } 

  .banner2:hover {
    opacity: 1;
  } 

  header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: sticky;
    top: 0;
    border-top: 1px solid rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
  }

  nav {
    text-align: center;
    line-height: 80px;    
  } 

  .navbar a{
    text-decoration: none;
    font-size: large;
    color: white;
    padding: 28px 20px; 
  }

  .navbar a:hover{ 
    background-color: rgb(50, 50, 50);
  }

  .navbar a:hover > i{ 
    color: rgb(236, 63, 66);
  }

  .navbar a.active {
    color: rgb(236, 63, 66);
  } 

  .navbar a.active > i{
    color: rgb(63, 140, 236);
  }

  /* --------------------------------------------------------------------- */

  .main {
    text-align: center;
    padding: 50px;
    background-color: rgb(20, 20, 20);
  }

  .article {    
    font-size: 40px;
    color: white;
    padding: 12%;
    line-height: 40px;
    /* background-color: goldenrod; */
  }

  .section1 {
    text-align: left;
    font-size: 24px;
    color: white;
    margin: 2%;
    display: inline-flex;
    background-color: blue; 
  }

  .section2 {
    margin: 2%;
    padding: 15px;
    color: white;
    /* background-color: green; */
  }

  .section2 a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    
    padding: 20px 20px; 
    border-radius: 6px;
    background-color: rgb(63, 140, 236);
    border: 3px outset rgb(63, 98, 236);
  }

  .section2 a:hover{ 
    opacity: 0.7;
  }

  .section a:hover > i{ 
    color: rgb(236, 63, 66);
  }